<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Jakku</title>
    </head>
    <body>
        <app-root id="app-root" class="scrollable-y"></app-root>
    </body>
</html>
